
/*************
/   Body
/*************/

html, body {
    font-size: 16pt;
    font-family: Cambria;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

section {
    float: left;
    width: 75%;
    background-color: gainsboro;
    height: 100%;
}

article {
    display: block;
    width: 75%;
    background-color: gainsboro;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
    padding: 2%;
    font-size: 14pt;
    font-family: Cambria; 
}

aside {
    display: block;
    float: right;
    height: 100%;
    width: 25%;
    background-color: gainsboro;
}

header {
    display: block;
    width: 100%;
    height: 110px;
    background-color: steelblue;
    text-align: center;
}

h1 {
    font-family: Cambria;
    margin: 0;
    padding: 0;
    font-size: 40pt;
    line-height: 110px;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    letter-spacing: 5px
}

h2 {
    text-align: center;
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

img {
    max-width: 80%;
    height: auto;
}

footer {
    width: 100%;
    height: 100%;
    line-height: 80px;
    background-color: steelblue;
    text-align: center;
    text-shadow: 1px 1px 4px ghostwhite;
}

div.box {
    float: left;
    width: 100%;
    background-color: gainsboro;
}


/****
/  Dev stuff
/*****/

.border {
    border: black;
    border-style: solid;
    border-width: 5px;
}

/*************
/   Nav
/*************/

nav, ul {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: steelblue;
}

li {
    display: block;
    float: left;
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 4px ghostwhite;
    background-color: lightsteelblue;
}

a {
    display: block;
    color:black;
    text-decoration: none;
    background-color: steelblue;

}

a:visited {
    color:black;
    background-color: steelblue;
}

a:hover {
    color:black;
    background-color: lightsteelblue;
}


/*************
/   Images
/*************/

.center {
    display: block;
    margin: auto;
}

.slides {
    display: block;
    margin: auto;
    width:  75%;
}

.aside {
    display: block;
    margin: 0 auto;
    box-shadow: inset 0 0 100px #000;
}

.padded {
    padding: 2%;
}

@media screen and (min-width:501px) and (max-width:900px) {
    
    html, body {
    font-size: 14pt;
    }

    header, h1 {
    font-size: 24pt;
    }

    h2 {
    font-size: 14pt;
    }
    
    nav, ul {
    height: 40px;
    }

    li {
    font-size: 12pt;
    line-height: 40px;
    }

    section {
    float: left;
    width: 100%;
    background-color: gainsboro;
    height: 100%;
    }

    article {
    font-size: 12pt;
    }

    aside {
    display: none;
    }
}

@media screen and (min-width:0px) and (max-width:500px) {
    
    html, body {
    font-size: 12pt;
    }

    header, h1 {
    font-size: 18pt;
    }

    h2 {
    font-size: 10pt;
    }

    nav, ul {
    height: 30px;
    }

    li {
    font-size: 10pt;
    line-height: 30px;
    }
    
    section {
    float: left;
    width: 100%;
    background-color: gainsboro;
    height: 100%;
    }

    article {
    font-size: 10pt;
    }

    aside {
    display: none;
    }
}
